@model onlinebanking.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<div>
    <dl >
        <dt>
            @Html.DisplayNameFor(model => model.customer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fathers_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fathers_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.martial_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.martial_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pincode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pincode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_id)
        </dd>

  
    </dl>
</div>
<p>

    @Html.ActionLink("Back ", "Welcome", "LogIn", new { id = @Session["customerid"] }, null);
    @Html.ActionLink("Edit", "Edit", "Customer", new { id = @Session["customerid"] }, null);
</p>
