@model onlinebanking.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Account Details</h2>


    <table>
        <tr>
            <td>Savings Account</td>
            <td></td>
            <td>Total Available Balance</td>
            <td>@Model.balance</td>

        </tr>
        <tr>
            <td>
                Account No:
            </td>
            <td>
                IFSC CODE:
            </td>
            <td>
                Name:
            </td>
            <td>
                Balance
            </td>
        </tr>
        <tr>
            <td>
                @Model.account_no
            </td>
            <td>
                @Model.branch_id
            </td>
            <td>
                @Session["Name"]
            </td>
            <td>
                @Model.balance
            </td>
        </tr>

    </table>

