@model BussinessLayer.Models.StatementModel

@{
    ViewBag.Title = "Statement";
}

    <div class="layout-container">
        <div>
            @{
                Html.RenderPartial("_SideNavBar");
            }
        </div>

        <div class="account-container">
            <h2>
                Account Statement <br />
                <span style="color:green;">@Session["Name"]-@Session["Accountno"]</span>

            </h2>
          
          

            <div class="edit-container" style="height:35rem;">
                @foreach (var statementItem in Model.statementList)
                {


                    <div class="statement-container">
                        @if ((Convert.ToInt64(statementItem.CreditAccount) != Convert.ToInt64(Session["Accountno"])))
                        {
                            <ul class="debit">
                                <li>Debit Details</li>
                                <li>Transaction Id:@Html.DisplayFor(item => statementItem.Id)</li>
                                <li>Paid To:@Html.DisplayFor(item => statementItem.CreditAccount)</li>
                                <li>Debit Amount:Rs @Html.DisplayFor(item => statementItem.DebitAmount)</li>
                                <li>Balance:Rs @Html.DisplayFor(item => statementItem.DebitAccountBalance)</li>
                                <li>Date:@Html.DisplayFor(item => statementItem.DebitDate)</li>

                            </ul>

                        }


                        else if (Convert.ToInt64(statementItem.CreditAccount) == Convert.ToInt64(Session["Accountno"]))
                        {
                            <ul class="credit">
                                <li>Credit Details</li>
                                <li>Transaction Id:@Html.DisplayFor(item => statementItem.IdCredit)</li>
                                <li>Paid By:@Html.DisplayFor(item => statementItem.DebitAccount)</li>

                                <li>Credit Amount:Rs @Html.DisplayFor(item => statementItem.CreditAmount)</li>
                                <li>Balance:Rs @Html.DisplayFor(item => statementItem.CreditAccountBalance)</li>
                                <li>Date:@Html.DisplayFor(item => statementItem.CreditDate)</li>

                            </ul>
                        }


                    </div>

                }
            </div>
        </div>
    </div>
