@model onlinebanking.Models.FixedDepositClass

@{
    ViewBag.Title = "Index";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-container">
        <h4>FixedDepositClass</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "error-text" })
        <div >
            @Html.LabelFor(model => model.fd_amount, htmlAttributes: new { @class = "text-label" })
            
                @Html.EditorFor(model => model.fd_amount, new { htmlAttributes = new { @class = "text-box-login" } })
                @Html.ValidationMessageFor(model => model.fd_amount, "", new { @class = "error-text" })
            </div>
       

        <div >
            @Html.LabelFor(model => model.duration, htmlAttributes: new { @class = "text-label" })
           
                @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "text-box-login" } })
                @Html.ValidationMessageFor(model => model.duration, "", new { @class = "error-text" })
           
        </div>

        <div >
            @Html.LabelFor(model => model.nominee, htmlAttributes: new { @class = "text-label" })
           
                @Html.EditorFor(model => model.nominee, new { htmlAttributes = new { @class = "text-box-login" } })
                @Html.ValidationMessageFor(model => model.nominee, "", new { @class = "error-text" })
           
        </div>

       
            <div >
                <input type="submit" value="Create" class="btn btn-default" />
                <h4 class="error-text">@ViewData["Message"]</h4>
            </div>
       
    </div>
}

<div>
    @Html.ActionLink("Back to Account ", "Details", "Account", new { id = @Session["customerid"] }, new { @class = "btn btn-primary" ,@style="margin-left:4rem;"})
    @Html.ActionLink("Details ", "FdDetail", "FixedDeposit", null, new { @class = "btn btn-primary",@style="margin-left:4rem;" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
