<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Styles/HomeStyles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/LoginStyles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/AccountStyles2.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Styles/CustomerStyles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/StatementStyles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/WelcomeStyles.css")" rel="stylesheet" type="text/css" />


    <style>
        .container-body {
            padding: 0;
            margin: 0;
        }

        .nav-container {
            padding: 0;
            margin: 0;
        }
    </style>

</head>
<body>
   
        <div >
           
            <div class="container-body">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - HDFC online banking</p>
                </footer>
            </div>
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
