<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/HomeStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/LoginStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/AccountStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/CustomerStyles.css" rel="stylesheet" type="text/css" />


</head>
<body>
   
        <div class="nav-container">
            <div >
                @Html.ActionLink("HDFC", "Index", "Home", new { area = "" }, new { @class = "brand" })
            </div>
            <div >
                <ul class="list-container">
                    <li class="list-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="list-item">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="list-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>

    <div class="container-body">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HDFC online banking</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
