
    <ul class="welcome-list">
        <li class="welcome-list-item"> @Html.ActionLink("Account", "Details", "Account", new { id = @Session["customerid"] }, new { @class = "welcome-links" })</li>
        <li class="welcome-list-item"> @Html.ActionLink("Customer Details", "Details", "Customer", new { id = @Session["customerid"] }, new { @class = "welcome-links" })</li>
        <li class="welcome-list-item"> @Html.ActionLink("Edit Customer Details", "Edit", "Customer", new { id = @Session["customerid"] }, new { @class = "welcome-links" })</li>
        <li class="welcome-list-item"> @Html.ActionLink("Statement", "Statement", "Transactions", null, new { @class = "welcome-links" })</li>
        <li class="welcome-list-item"> @Html.ActionLink("Send Money", "Index", "Transactions", null, new { @class = "welcome-links" })</li>
        <li class="welcome-list-item"> @Html.ActionLink("Change Password", "Welcome", "Login", new { id = @Session["customerid"] }, new { @class = "welcome-links" })</li>

    </ul>